* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: none;
}

@font-face {
  font-family: 'Google font';
  src: url('assets/handwritten1.ttf') format('truetype');
  /* font-weight: 100; */
}

p {
  font-size: 1em;
  text-align: justify;
  line-height: 2em;
  padding: 0 2em;
  font-family: "Google font", Courier, monospace;
}

#flash {
  --Xpos: 50vw;
  --Ypos: 50vh;
}

#flash:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  /* pointer-events: painted; */
  background: radial-gradient(
    circle 5em at var(--Xpos) var(--Ypos),
    rgba(0, 0, 0, 0),
    rgba(0, 1, 1, 1)
  );
}

@media screen and (min-width: 800px) {
  body {
    font-size: 34px;
  }
}

canvas{
  left:calc(50%-200px);
  top:calc(50vh-800px);
  position:relative;
}